[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
bumpversion = "==0.5.3"
watchdog = "==0.8.3"
tox = "*"
coverage = "==4.1"
sphinx = "*"
cryptography = "*"
pyyaml = "==3.11"
pytest = "*"
pytest-runner = "*"
setuptools = "*"
"flake8" = "*"
docutils = "==0.12"
update = "*"
mock = "*"

[packages]
requests = "*"
