-i https://pypi.python.org/simple/
alabaster==0.7.12
appdirs==1.4.4
argh==0.26.2
attrs==20.2.0
babel==2.8.0
bumpversion==0.5.3
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
coverage==4.1
cryptography==3.2
distlib==0.3.1
docutils==0.12
filelock==3.0.12
flake8==3.5.0
idna==2.6
imagesize==1.2.0
jinja2==2.11.2
markupsafe==1.1.1
mccabe==0.6.1
mock==2.0.0
more-itertools==8.5.0
packaging==20.4
pathtools==0.1.2
pbr==5.5.1
pluggy==0.6.0
py==1.9.0
pycodestyle==2.3.1
pycparser==2.20
pyflakes==1.6.0
pygments==2.7.2
pyparsing==2.4.7
pytest-runner==4.2
pytest==3.5.1
pytz==2020.1
pyyaml==3.11
requests==2.18.4
six==1.15.0
snowballstemmer==2.0.0
sphinx==1.7.4
sphinxcontrib-serializinghtml==1.1.4
sphinxcontrib-websupport==1.2.4
style==1.1.0
tox==3.0.0
update==0.0.1
urllib3==1.22
virtualenv==20.1.0
watchdog==0.8.3
