-i https://pypi.python.org/simple
alabaster==0.7.10
argh==0.26.2
asn1crypto==0.24.0
attrs==18.1.0
babel==2.5.3
bumpversion==0.5.3
certifi==2022.12.7
cffi==1.11.5; platform_python_implementation != 'pypy'
chardet==3.0.4
coverage==4.1
cryptography==2.2.2
docutils==0.12
flake8==3.5.0
idna==2.6
imagesize==1.0.0
jinja2==2.10
markupsafe==1.0
mccabe==0.6.1
mock==2.0.0
more-itertools==4.1.0
packaging==17.1
pathtools==0.1.2
pbr==4.0.3
pluggy==0.6.0
py==1.5.3
pycodestyle==2.3.1
pycparser==2.18
pyflakes==1.6.0
pygments==2.2.0
pyparsing==2.2.0
pytest-runner==4.2
pytest==3.5.1
pytz==2018.4
pyyaml==3.11
requests==2.18.4
six==1.11.0
snowballstemmer==1.2.1
sphinx==1.7.4
sphinxcontrib-websupport==1.0.1
style==1.1.0
tox==3.0.0
update==0.0.1
urllib3==1.22
virtualenv==16.0.0
watchdog==0.8.3
